h1 {
	font-family: 'Squada One', cursive;	
	text-align: right;
	color: white;
	font-size: 80px;
}

body {
	background: url('djyasmin.jpg');
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

ul {
	display: block;
	padding: 10px;
}

li{
	display:inline;
	padding:35px 35px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

header{
	text-align: right;
	background-color: rgba(15,245,233,0.3);
	margin:0px 0px;
	background-size: cover;
	padding:0px 0px;

}

.content{
	background-color: rgba(235,28,159,0.3);
	margin-top: 10px;
	color: white;
	text-align: right;
	font-family: 'Dosis', sans-serif;
	padding: 8px;
	padding-left: 65px;
}
a{
	color:white;
	text-decoration: none;
	padding:10px;
}
a:hover{
	background-color: black;
	padding: 10px;
}

    @media (max-width: 500px) {
      h1 {
        font-size: 56px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
