<header class="site-header">

  <nav class="red" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{ site.baseurl }}/" class="brand-logo">Bimo's Static Page</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
      </ul>

      <ul class="side-nav nav-mobile" id="mobile-demo">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </div>
  </nav>

</header>
